<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.madhh.diary"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="11"
        android:targetSdkVersion="19" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.MANAGE_DOCUMENTS" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES" />
    <!--
 The ACCESS_COARSE/FINE_LOCATION permissions are not required to use
         Google Maps Android API v2, but are recommended.
    -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <uses-permission android:name="android.permission.READ_PHONE_STATE" />

    <application
        android:name="com.madhh.diary.NoteAppApplication"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.madhh.diary.MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.madhh.diary.EditNoteActivity"
            android:label="@string/title_activity_edit_note" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.madhh.diary.MainActivity" />
        </activity>
        <activity
            android:name="com.madhh.diary.LoginActivity"
            android:label="@string/title_activity_login" >
        </activity>
        <activity
            android:name="com.madhh.diary.PicActivity"
            android:label="Pic View" >
        </activity>
        <activity
            android:name="com.madhh.diary.SignUpActivity"
            android:label="@string/title_activity_sign_up" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.madhh.diary.LoginActivity" />
        </activity>

        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
        <meta-data
            android:name="com.google.android.maps.v2.API_KEY"
            android:value="@string/google_maps_key" />

        <activity
            android:name="com.madhh.diary.MapActivity"
            android:label="@string/title_activity_maps" >
        </activity>
    </application>

</manifest>
